.gender-btns {
    --padding: 4px;
    display: flex;
    gap: calc(var(--padding)/2);
    padding-left: var(--padding);
    padding-right: var(--padding);
    flex-direction: column;
    justify-content: center;
}

.gender-btns > * {
    align-self: center;
    flex-grow: 1;
    width: 100%;
    max-width: 60%;
}

.current-word > *, .mistake-description > * {
    text-align: center;
    transition-property: opacity;
    transition-duration: 0.8s;
}

.answer-wrong {
    color: var(--ion-color-danger);
}

.answer-right {
    color: var(--ion-color-success);
}

.current-word-ending {
    color: var(--ion-color-danger);
}