<ion-col>
  <ion-item>
    <ion-label>
      <h1>Light theme: </h1>
      <p>Controls your app theme. Light or Dark?</p>
    </ion-label>
    <ion-toggle [checked]="isColorThemeLight()" (ionChange)="changeColorTheme()"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label>
      <h1>Reset score: </h1>
      <p>Resets all of your current score.</p>
      <p>(Keeps only the best score).</p>
    </ion-label>
    <ion-button color="danger" size="default">Reset score</ion-button>
  </ion-item>
</ion-col>
