<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row class="header-toolbar">
      <ion-button class="logged-status">
        <ion-icon name="cloud-offline-outline"></ion-icon>
      </ion-button>
      <ion-title class="welcome-title">Settings</ion-title>
      <ion-button class="return-btn" (click)="returnToMain()">
        <ion-icon name="return-up-back-outline"></ion-icon>
      </ion-button>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
   <app-settings-content></app-settings-content>
</ion-content>
