<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row class="header-toolbar">
      <ion-button class="logged-status">
        <ion-icon name="cloud-offline-outline"></ion-icon>
      </ion-button>
      <ion-title class="welcome-title">Welcome</ion-title>
      <ion-button class="options-btn">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-text color="primary" class="score-text">
    <h1>Your score:</h1>
    <h2>23</h2>
  </ion-text>
  <ion-col>
    <ion-text class="current-word ion-text-center">
      <h1>Parapluie</h1>
    </ion-text>
    <ion-row class="gender-btns">
      <ion-button color="secondary">
        <ion-icon name="man-outline" size="large"></ion-icon>
      </ion-button>
      <ion-button color="tertiary">
        <ion-icon name="woman-outline" size="large"></ion-icon>
      </ion-button>
      <ion-button color="medium">
        <ion-icon name="man-outline" size="large"></ion-icon>
        <ion-icon name="woman-outline" size="large"></ion-icon>
      </ion-button>
    </ion-row>
    
    <ion-item class="plural-item">
      <ion-row>
        <ion-icon name="people-outline" size="large"></ion-icon>
        <ion-checkbox></ion-checkbox>
      </ion-row>
    </ion-item>
  </ion-col>
</ion-content>
