<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row class="header-toolbar">
      <ion-button class="logged-status">
        <ion-icon name="ban-outline"></ion-icon>
      </ion-button>
      <ion-title class="welcome-title">Welcome</ion-title>
      <ion-button class="options-btn">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-text color="primary" class="score-text">
    <h1>Your score:</h1>
    <h2>23</h2>
  </ion-text>
</ion-content>
