<ion-col class="game-content">
  <div class="current-word-container">
    <ion-text class="current-word">
      <h1 class="current-word-text">{{word}}<span class="current-word-ending">{{wordEnding}}</span></h1>
    </ion-text>
  </div>
  <ion-col class="gender-btns">
    <app-gender-btn 
      *ngFor="let button of gameButtons"
      [btnIndex]="button.btnIndex"
      [btnTheme]="button.btnTheme"
      (checkGender)="checkGender(button.btnIndex)"
    >{{button.articles[articleIndex]}}</app-gender-btn>
  </ion-col>
</ion-col>
